---
const platform = "github";
const username = "withastro";

const platform2 = "x";
const username2 = "CyberSakura_JPN";

---

<footer>
  <p>私のプロジェクトについて詳しくは<a href={`https://www.${platform}.com/${username}`}>{platform}</a>をご確認ください！</p>
  <p><a href={`https://www.${platform2}.com/${username2}`}>{platform2}</a></p>
</footer>